.wrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #0C081A, #6B33B6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFB302;
  text-align: center;
  padding: 2rem;
  animation: fadeIn 0.6s ease-in-out;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #ffffff;
  text-shadow: 0 0 20px rgba(94, 213, 191, 0.8);
  animation: pulse 1.5s infinite;
}

.lottieContainer {
  width: 300px;
  height: 300px;
  filter: drop-shadow(0 0 20px rgba(58, 141, 164, 0.5));
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 5px #7aa4b5, 0 0 10px #a0fffa;
  }
  100% {
    text-shadow: 0 0 20px #7aa4b5, 0 0 30px #94f1f1;
  }
}
